In [0]:
# Class IT-533 Week #4  - Measures of Association
# Summer 2020
# Lab #3 - ramen-ratings.csv
# By Wei Geng(David) and Anusha Bale
# Created on: 06/08/2020
# Honor Code: “I have neither given or received, nor have I tolerated others' use of unauthorized aid.”

In [0]:
# install pandas in case you dont have pandas pre-installed
%pip install pandas

In [3]:
# Convert to pandas DataFrame
import numpy as np
import pandas as pd
remen_df = pd.read_csv('https://raw.githubusercontent.com/intelspeedstep/AMOD533/master/ramen-ratings.csv')
remen_df.head()

   Review #           Brand  ... Stars Top Ten
0      2580       New Touch  ...  3.75     NaN
1      2579        Just Way  ...     1     NaN
2      2578          Nissin  ...  2.25     NaN
3      2577         Wei Lih  ...  2.75     NaN
4      2576  Ching's Secret  ...  3.75     NaN

[5 rows x 7 columns]

In [4]:
# output the data attributes and its datatypes, plus the shape of the dataset
print(remen_df.info(verbose=True))
print(remen_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB
None
(2580, 7)

In [0]:
# Convert Stars from object to numberic and Review # to str since ID number usually has no analytical value
remen_df.loc[remen_df["Stars"]=='Unrated','Stars']=np.nan
remen_df['Stars']=remen_df['Stars'].astype(float)
remen_df['Review #']=remen_df['Review #'].astype(str)

### <font color = 'orange'>Question #1:How did you decide which two or three attributes to pick for your analysis?.</font>
<br> <font color = 'green'>Answer:1) I pick 'country' and 'Brand' as its correlation is 0.208939. It is the highest in the correlation metrix below.;
</font></br>

In [6]:
from sklearn.preprocessing import LabelEncoder

remen_df["Brand"] = LabelEncoder().fit_transform(remen_df["Brand"])
remen_df["Variety"] = LabelEncoder().fit_transform(remen_df["Variety"])
remen_df["Style"] = LabelEncoder().fit_transform(remen_df["Style"].astype(str))
remen_df["Country"] = LabelEncoder().fit_transform(remen_df["Country"])
remen_df["Top Ten"] = LabelEncoder().fit_transform(remen_df["Top Ten"].astype(str))
remen_df.head()

  Review #  Brand  Variety  Style  Country  Stars  Top Ten
0     2580    190     2189      4       18   3.75       38
1     2579    119     1443      5       32   1.00       38
2     2578    192      454      4       35   2.25       38
3     2577    336      709      5       32   2.75       38
4     2576     38     1954      5       16   3.75       38

In [7]:
remen_df.corr().style.background_gradient(cmap='cool')

### <font color = 'orange'>Question #2: What connections between the attributes do the results of your analysis reveal? </font>
<br> <font color = 'green'>Answer: since the correlation between country and brand is positive, we can say country and brand are positive correlated, and the connection is fairly strong comparing to the other attributes.  </font>

### <font color = 'orange'>Question #3: Were there any surprises?  Did you have to go back and pick different attributes and re-run your exercise? </font>
<br> <font color = 'green'>Answer: Yes, I was suprised to see that Country and Stars are negative correlated. To confirm that both variables are negative correlated, I have run covariance matrix below. Again, I see country has negative impact on star rating.

In [8]:
remen_df.cov()

               Brand        Variety      Style     Country     Stars    Top Ten
Brand    7753.298980   -2015.351951  -4.590695  183.546449 -0.199556   5.001265
Variety -2015.351951  495434.717875 -15.793194  159.019532 -2.563037 -33.004524
Style      -4.590695     -15.793194   2.449680    0.213730  0.003356  -0.252385
Country   183.546449     159.019532   0.213730   99.537886 -0.494980   0.273569
Stars      -0.199556      -2.563037   0.003356   -0.494980  1.030896  -0.384318
Top Ten     5.001265     -33.004524  -0.252385    0.273569 -0.384318   8.944419

In [9]:
# Simplify Stars variables by binning the star rating into 7 category values
remen_df['Stars']=pd.qcut(remen_df['Stars'],7,precision=2,duplicates='drop')
remen_df['Stars'].drop_duplicates().sort_values().reset_index(drop=True).dropna()

0    (-0.01, 2.75]
1     (2.75, 3.25]
2     (3.25, 3.75]
3      (3.75, 4.0]
4       (4.0, 5.0]
Name: Stars, dtype: category
Categories (5, interval[float64]): [(-0.01, 2.75] < (2.75, 3.25] < (3.25, 3.75] < (3.75, 4.0] <
                                    (4.0, 5.0]]

### <font color = 'orange'>Question #4: Would you be able to predict future values of one attribute from a correlation with on one or two others? How would you do this in R or Python?  </font>
<br> <font color = 'green'>Answer: Yes, I can make a prediction. For example, I pick style attributes. from the correlation metrix below, I could predict that style that has style code higher, will increase the star rating since they both have positive correlation.   </font>

In [10]:
# Again, we need to pull up this wonderful correlation matrix to make our predictions. Also, the color will show us where we see high correlations.
remen_df.corr().style.background_gradient(cmap='cool')