In [2]:
# Class IT-533 Week #6  - Measures of Association
# Summer 2020
# Lab #4 - ramen-ratings.csv
# By Wei Geng(David) and Anusha Bale
# Created on: 06/14/2020
# Honor Code: “I have neither given or received, nor have I tolerated others' use of unauthorized aid.”

In [3]:
# install pandas in case you dont have pandas, matplotlib and sklearn pre-installed
%pip install pandas
%pip install matplotlib
%pip sklearn

In [4]:
# Convert to pandas DataFrame
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
remen_df = pd.read_csv('https://raw.githubusercontent.com/intelspeedstep/AMOD533/master/ramen-ratings.csv')
remen_df.head()

   Review #           Brand  ... Stars Top Ten
0      2580       New Touch  ...  3.75     NaN
1      2579        Just Way  ...     1     NaN
2      2578          Nissin  ...  2.25     NaN
3      2577         Wei Lih  ...  2.75     NaN
4      2576  Ching's Secret  ...  3.75     NaN

[5 rows x 7 columns]

In [5]:
# output the data attributes and its datatypes, plus the shape of the dataset
print(remen_df.info(verbose=True))
print(remen_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB
None
(2580, 7)

In [6]:
# Convert Stars from object to numberic and Review # to str since ID number usually has no analytical value
remen_df.loc[remen_df["Stars"]=='Unrated','Stars']=np.nan
remen_df['Stars']=remen_df['Stars'].astype(float)
remen_df['Review #']=remen_df['Review #'].astype(str)

### <font color = 'orange'> Model #1: Run my team dataset with k Nearest Neighbor and optimize the configuration for model comparisons</font>
</font></br>

In [13]:
# Convert the string variables to numeric categorical varibles, so the model can run. Sklearn classifers requires categorical variables to be numerically coded.
from sklearn.preprocessing import LabelEncoder
remen_df["Brand"] = LabelEncoder().fit_transform(remen_df["Brand"])
remen_df["Variety"] = LabelEncoder().fit_transform(remen_df["Variety"])
remen_df["Style"] = LabelEncoder().fit_transform(remen_df["Style"].astype(str))
remen_df["Country"] = LabelEncoder().fit_transform(remen_df["Country"])
remen_df["Top Ten"] = LabelEncoder().fit_transform(remen_df["Top Ten"].astype(str))
remen_df.head()

  Review #  Brand  Variety  Style  Country  Stars  Top Ten  Stars_Ind
0     2580    190     2189      4       18   3.75       32        1.0
1     2579    119     1443      5       32   1.00       32        0.0
2     2578    192      454      4       35   2.25       32        0.0
3     2577    336      709      5       32   2.75       32        0.0
4     2576     38     1954      5       16   3.75       32        1.0

In [18]:
# 1) KNN handles binary variables, so, I first convert 'Stars' to a binary value by set value greater than 3 equal to 1, else to 0.
# This 'Stars_Ind' become my target variable. Again, this is supervised learning for classification problem.
# 2) No need to check correlation ahead or drop any variables since KNN is not linear model
# 3) split dataset into training and testing with ratio of 70% to 30%.
# 4) Fit the model with all variables in X, and select n to 5. If n is a small number, the model is less stable, but if n is a big number, it would be more errors.
# so, I manually tune the model to pick 5 as the value for n. If you pick 4 or 6, the model accuracy would decline.
# 5) After running the model, we get model accuracy equal to 72% on test dataset. This is a pretty good model. 
# However, there is concern on overfitting since the model as much better performance on the training dataset -- 81%.
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
remen_df.loc[remen_df['Stars']>3,'Stars_Ind']=1
remen_df['Stars_Ind'].fillna(0,inplace=True)
X=remen_df.drop(['Stars','Stars_Ind','Review #'], axis=1)
y=remen_df['Stars_Ind']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1859, test_size=0.3)
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("Test set predictions:\n", y_pred)
print("Training set score: {:.2f}".format(knn.score(X_train, y_train)))
print("Test set score: {:.2f}".format(knn.score(X_test, y_test)))

Test set predictions:
 [0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 0. 1. 1.
 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1.
 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 0. 1. 1. 1.
 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1.
 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1.
 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 0.
 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1.]
Training set score: 0.81
Test set score: 0.72

### <font color = 'orange'>Model #2: Run my team dataset with Naive Bayes and optimize the configuration for model comparisons  </font>

In [21]:
# 1) Naive Bayes handles binary and categorical dependent variable well if predictors are independent
# 2) Again, we set 'Stars_Ind' as a binary target variable, and split data with hold-out methold with 70% to 30%
# 3) There are 3 types of naive bayes models --  Binomial, multimial and Guassian, and we use them based on the following rules,
# In the case of predictors are categorical variables, such as counts or labels, a multinomial distribution can be used. 
# If the variables are binary, such as yes/no or true/false, a binomial distribution can be used. 
# If a variable is numerical, such as a measurement, often a Gaussian distribution is used. 
# 4) I choose to use Gaussian distribution since the predictors are numerical.
# 5) After running the model, we get model accuracy equal to 74% on test dataset (we are predicting yes or no, we switch the label of target variable by (1-0.24))
# Moreover, the performance on the training dataset is 76%. This indicates it is a very stable model.
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
remen_df.loc[remen_df['Stars']>3,'Stars_Ind']=1
remen_df['Stars_Ind'].fillna(0,inplace=True)
X=remen_df.drop(['Stars','Stars_Ind','Review #'], axis=1)
y=remen_df['Stars_Ind']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1859, test_size=0.3)
GNB = GaussianNB()
GNB.fit(X_train,y_train)
y_pred = GNB.predict(X_test)
print("Test set predictions:\n", y_pred)
print("Training set score: {:.2f}".format(1-GNB.score(X_train, y_train)))
print("Test set score: {:.2f}".format(1-GNB.score(X_test, y_test)))

Test set predictions:
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0.]
Training set score: 0.76
Test set score: 0.74

### <font color = 'orange'>model #3: Run my team dataset with logistic regression, and optimize the configuration for model comparisons. This was done from the previous lab.</font>

In [ ]:
# double confirm there is no multicollinearity issue with correlation matrix
remen_df.corr().style.background_gradient(cmap='cool')

In [23]:
# After running the model, we get model accuracy equal to 76% on test dataset 
# Moreover, the performance on the training dataset is 77%. This indicates it is a very stable model.
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
remen_df.loc[remen_df['Stars']>3,'Stars_Ind']=1
remen_df['Stars_Ind'].fillna(0,inplace=True)
X=remen_df.drop(['Stars','Stars_Ind','Review #'], axis=1)
y=remen_df['Stars_Ind']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1859, test_size=0.3)
logit_model = LogisticRegression(max_iter=1000).fit(X_train,y_train)
print("linear_model.coef_:", logit_model.coef_)
print("linear_modelintercept_:", logit_model.intercept_)
print("Model accuracy on the training dataset is : {:.2f}".format(logit_model.score(X_train,y_train)))
print("Model accuracy on the testing dataset is : {:.2f}".format(logit_model.score(X_test, y_test)))

linear_model.coef_: [[ 2.81676957e-04 -8.13488059e-05  5.35822108e-03 -2.62471998e-03
   4.14590770e-02]]
linear_modelintercept_: [0.00158299]
Model accuracy on the training dataset is : 0.77
Model accuracy on the testing dataset is : 0.76

**Note: Please check the attached Word Document for the answers for this week's lab assignment questions. Thanks**

### <font color = 'orange'>------------------------------------------------------------------------END--------------------------------------------------------------------------------- </font>