In [1]:
# Class IT-533 Week #5  - Measures of Association
# Summer 2020
# Lab #4 - ramen-ratings.csv
# By Wei Geng(David) and Anusha Bale
# Created on: 06/14/2020
# Honor Code: “I have neither given or received, nor have I tolerated others' use of unauthorized aid.”

In [2]:
# install pandas in case you dont have pandas pre-installed
%pip install pandas
%pip install matplotlib

In [3]:
# Convert to pandas DataFrame
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
remen_df = pd.read_csv('https://raw.githubusercontent.com/intelspeedstep/AMOD533/master/ramen-ratings.csv')
remen_df.head()

   Review #           Brand  ... Stars Top Ten
0      2580       New Touch  ...  3.75     NaN
1      2579        Just Way  ...     1     NaN
2      2578          Nissin  ...  2.25     NaN
3      2577         Wei Lih  ...  2.75     NaN
4      2576  Ching's Secret  ...  3.75     NaN

[5 rows x 7 columns]

In [4]:
# output the data attributes and its datatypes, plus the shape of the dataset
print(remen_df.info(verbose=True))
print(remen_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB
None
(2580, 7)

In [5]:
# Convert Stars from object to numberic and Review # to str since ID number usually has no analytical value
remen_df.loc[remen_df["Stars"]=='Unrated','Stars']=np.nan
remen_df['Stars']=remen_df['Stars'].astype(float)
remen_df['Review #']=remen_df['Review #'].astype(str)

### <font color = 'orange'>Question #1:Select one dependent variable in the dataset. This will be your target variable for the remainder of this lab. Explain how and why you have selected that particular target variable in no less than 3 sentences..</font>
<br> <font color = 'green'>Answer:1) I pick 'Stars' as my target variable. First, it is continuous variable. second, this is the key attribute that measure the quality of remen noodles. Last, only 3 records has missing values in 'Stars' column;
</font></br>

### <font color = 'orange'>Question #2: Determine what correlations there are among independent variables (= predictors) in the dataset by setting up a correlation table.  Explain what correlations your analysis is showing and which THREE predictor variables appear to be correlated to one another AND to the target variable in AT LEAST two sentences.  </font>
<br> <font color = 'green'>Answer: My correlation table produces Pearson's correlation among all the varibles; higher the value, more related they are.
Top 3 predictors that has relatively higher correlations to the target variables are 'Top Ten', 'Country', and 'Variety'  </font>

In [6]:
from sklearn.preprocessing import LabelEncoder
remen_df["Brand"] = LabelEncoder().fit_transform(remen_df["Brand"])
remen_df["Variety"] = LabelEncoder().fit_transform(remen_df["Variety"])
remen_df["Style"] = LabelEncoder().fit_transform(remen_df["Style"].astype(str))
remen_df["Country"] = LabelEncoder().fit_transform(remen_df["Country"])
remen_df["Top Ten"] = LabelEncoder().fit_transform(remen_df["Top Ten"].astype(str))
remen_df.head()

  Review #  Brand  Variety  Style  Country  Stars  Top Ten
0     2580    190     2189      4       18   3.75       38
1     2579    119     1443      5       32   1.00       38
2     2578    192      454      4       35   2.25       38
3     2577    336      709      5       32   2.75       38
4     2576     38     1954      5       16   3.75       38

In [7]:
remen_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   object
 1   Brand     2580 non-null   int64
 2   Variety   2580 non-null   int64
 3   Style     2580 non-null   int64
 4   Country   2580 non-null   int64
 5   Stars     2577 non-null   float64
 6   Top Ten   2580 non-null   int64
dtypes: float64(1), int64(5), object(1)
memory usage: 141.2+ KB

In [8]:
remen_df.corr().style.background_gradient(cmap='cool')

### <font color = 'orange'>Question #3: Determine which independent variable in the dataset is the most important overall predictor for your chosen dependent (target) variable, then build a simple linear regression based on this predictor and evaluate the quality of your model. Explain why (or why not) it is acceptable to use this model to predict future values of your dependent variable. </font>
<br> <font color = 'green'>Answer: 'Top Ten' is the most important overall predictor since it has the highest correlation with the target variable(-0.090643). However, we only get R-square from the model as 0.01. The predictive power of this single variable is too weak. Therefore, it is not accept to use this model, instead, we should build a multiple linear regression.

In [9]:
from sklearn.linear_model import LinearRegression
remen_df.fillna(0, inplace=True)
linear_model = LinearRegression().fit(remen_df['Top Ten'].values.reshape(-1,1),remen_df.Stars)
print("linear_model.coef_:", linear_model.coef_)
print("linear_modelintercept_:", linear_model.intercept_)
print("R-square score: {:.2f}".format(linear_model.score(remen_df['Top Ten'].values.reshape(-1,1),remen_df.Stars)))

linear_model.coef_: [-0.04307483]
linear_modelintercept_: 5.272995200081727
R-square score: 0.02

### <font color = 'orange'>Question #4: Set up up a best subset regression table and check how many of the variables from your calculation above should be combined in a multiple linear regression to produce an optimal model, then build and run your multiple regression model and test its quality with leave-one-out cross-validation. Explain how this model improves the output of the simple linear regression you ran previously in AT LEAST two sentences.  </font>
<br> <font color = 'green'>Answer:   Based on the correlation matrix, all the predictors are not related to each other, meaing they have low correlations. So, I can comfortably hold out 50% of the dataset as testing dataset, then fit them  into the model.  As the results, we can see the score on the training dataset jumps from 0.01 from the simple linear regression to 0.07 of the multiple linear regression. This is due to adding more variables to boost the predicting power from the input variables. Moreover, the score from the training dataset matches that from the testing dataset. This mean it is a stable model. </font>

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X=remen_df.drop(['Stars'], axis=1)
y=remen_df['Stars']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1859, test_size=0.5)
linear_model = LinearRegression().fit(X_train, y_train)
print("linear_model.coef_:", linear_model.coef_)
print("linear_modelintercept_:", linear_model.intercept_)
print("Training dataset score: {:.2f}".format(linear_model.score(X_train, y_train)))
print("Testing dataset score: {:.2f}".format(linear_model.score(X_test, y_test)))

linear_model.coef_: [ 3.33761681e-04  3.34120859e-04 -5.61953809e-05 -2.32807583e-02
  1.74222850e-03 -6.36459427e-02]
linear_modelintercept_: 5.661228877643227
Training dataset score: 0.07
Testing dataset score: 0.07

### <font color = 'orange'>Question #5: Build and run a logistic regression model and explain in AT LEAST two sentences how your output improves on the simple and multiple regression. Is the logistic model better or not as good?.  </font>
<br> <font color = 'green'>Answer: Firstable, logistic regression only take target variable as binary, meaning 1 or 0. so, we need to catogorize stars rating higher than 3 as 'Good', and any rating lower than 3 is 'Bad'. So, 1 represents 'Good' and 0 represents 'Bad', and they are the values of my target variable.
Then, I split the dataset into training and testing. After fitting the model, we see that the model performs is at 78% accuracy on the training dataset and 76% on the testing dataset. This is a good model. Is this model better than the other models, we need to use AIC or BIC to do the comparison. Unfortunately, Sklean dont have this option, but we can do it in Statsmodel. Lower the AIC or BIC, the better model is. 
 </font>

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
remen_df.loc[remen_df['Stars']>3,'Stars_Ind']=1
remen_df['Stars_Ind'].fillna(0,inplace=True)
X=remen_df.drop(['Stars','Stars_Ind'], axis=1)
y=remen_df['Stars_Ind']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1859, test_size=0.3)
logit_model = LogisticRegression(max_iter=1000).fit(X_train,y_train)
print("linear_model.coef_:", logit_model.coef_)
print("linear_modelintercept_:", logit_model.intercept_)
print("Model accuracy on the training dataset is : {:.2f}".format(logit_model.score(X_train,y_train)))
print("Model accuracy on the testing dataset is : {:.2f}".format(logit_model.score(X_test, y_test)))

linear_model.coef_: [[ 5.89546421e-04  2.72149736e-04 -1.35431776e-04 -3.85656735e-02
   2.88061971e-03 -5.02165547e-01]]
linear_modelintercept_: [19.80240338]
Model accuracy on the training dataset is : 0.78
Model accuracy on the testing dataset is : 0.76

### <font color = 'orange'>------------------------------------------------------------------------END--------------------------------------------------------------------------------- </font>