In [ ]:
# Class IT-533 Week #8  - Gradient Descent and Neural Networks
# Summer 2020
# Week #8  Practice Code
# By Wei Geng(David)
# Created on: 07/05/2020

In [49]:
# Convert to pandas DataFrame
%pip install pandas
%pip install matplotlib
%pip install sklearn
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.precision',2)
df = pd.read_csv('https://raw.githubusercontent.com/intelspeedstep/AMOD533/master/UCI_Credit_Card.csv')
print(df.info(verbose=True))
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB
None

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

### -------------------------------------------Question 1 Bucketize the LIMIT_BAL attribute in the Credit Card dataset  into 5 categories, so that it becomes a categorical class attribute.  -----------------------------------------

In [50]:
# Let's use qcut in pandas to bucketize the LIMIT_BAL variables
# Use groupby and agg function to check the results from the bucketization
df['LIMIT_BAL_CAT']=pd.qcut(df.LIMIT_BAL, 5, labels=False)
df.groupby(['LIMIT_BAL_CAT'])['LIMIT_BAL'].agg(['count','min','mean','max','std'])

               count       min       mean        max       std
LIMIT_BAL_CAT
0               7676   10000.0   35204.79    50000.0  14239.69
1               4822   60000.0   80759.02   100000.0  13545.98
2               6123  110000.0  146743.43   180000.0  22406.16
3               5421  190000.0  223368.38   270000.0  23106.10
4               5958  280000.0  378564.57  1000000.0  82967.52

### -------------------------------------Question 2 Use Random Forest to build a prediction model for limit_bal. --------------------------

In [54]:
# 1) Random Forest is a probability tree algorthm which uses the ensemble method to build multiple number of decision trees to average out the performance
# This would give us a very stable model, however, it is not difficult to explain the which features are important in which model.
# 2) Again, Random Forest can handle both continuous and categorical target variable, In this case, I am going model a categorical variable 
# so, I set 'dLIMIT_BAL_CAT' as a categorical target variable, and split data with hold-out methold with 70% to 30%
# 3) After running the model, we get model accuracy equal to 100% both on the training set and 99.81% test set. This is a very good model.
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
X=df.drop(['LIMIT_BAL','ID'], axis=1)
y=df['LIMIT_BAL_CAT']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1859, test_size=0.3)
forest = RandomForestClassifier(n_estimators=50, random_state=1859)
forest.fit(X_train, y_train)
y_pred = forest.predict(X_test)
print("Test set predictions:\n", y_pred)
print("Training set score: {:.5f}".format(forest.score(X_train, y_train)))
print("Test set score: {:.5f}".format(forest.score(X_test, y_test)))

Test set predictions:
 [4 4 0 ... 0 1 1]
Training set score: 1.00000
Test set score: 0.99811

### -------------------------------------Question 3 Use Neural Networks to build a prediction model for limit_bal. --------------------------

In [56]:
# Apply mean normalization; this step is to standarize the features to follow the normal distribution
# Assign the scaled data to a DataFrame & use the index and columns arguments to keep your original indices and column names:
from sklearn.preprocessing import StandardScaler
X_train_array = StandardScaler().fit_transform(X_train.values) 
X_train = pd.DataFrame(X_train_array, index=X_train.index, columns=X_train.columns)

In [57]:
# Center test data.
X_test_array = sc.transform(X_test.values)
X_test = pd.DataFrame(X_test_array, index=X_test.index, columns=X_test.columns)

In [58]:
# fit the neural_network model MLP, set the hidden_layer to 10, solver='sgd',learning_rate_init=0.01,max_iter=500
# we got a perfect model that has 100% accuracy in both training and test dataset.
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(10),solver='sgd',learning_rate_init=0.01,max_iter=500)
mlp.fit(X_train, y_train)
y_pred = mlp.predict(X_test)
print("Test set predictions:\n", y_pred)
print("Training set score: {:.5f}".format(mlp.score(X_train, y_train)))
print("Test set score: {:.5f}".format(mlp.score(X_test, y_test)))

Test set predictions:
 [4 4 0 ... 0 1 1]
Training set score: 1.00000
Test set score: 1.00000

### -----------------------------------------END--------------------------------------------------------------