In [0]:
# Class IT-533 Week 1  - Big Data and Basic Statistics
# Summer 2020
# Week #1 Practice Code
# By Wei Geng(David)
# Created on: 05/18/2020

In [2]:
# import needed package and upload the file to google colab
from google.colab import files
uploaded = files.upload()

Saving adult.data.simplified.csv to adult.data.simplified (2).csv

In [3]:
# Convert to pandas DataFrame
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['adult.data.simplified.csv']))
print(df.info(verbose=True))
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   educationyears  32561 non-null  int64
 4   maritalstatus   32561 non-null  object
 5   occupation      32561 non-null  object
 6   relationship    32561 non-null  object
 7   race            32561 non-null  object
 8   sex             32561 non-null  object
 9   hoursperweek    32561 non-null  int64
 10  nativecountry   32561 non-null  object
 11  incomeUSD       32561 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.0+ MB
None

   age         workclass  education  ...  hoursperweek  nativecountry incomeUSD
0   39         State-gov  Bachelors  ...            40  United-States     43747
1   50  Self-emp-not-inc  Bachelors  ...            13  United-States     38907
2   38           Private    HS-grad  ...            40  United-States     25055
3   53           Private       11th  ...            40  United-States     26733
4   28           Private  Bachelors  ...            40           Cuba     23429

[5 rows x 12 columns]

In [4]:
# output the basic stats for all 4 numeric attributes for USA
df[df['nativecountry']=='United-States'].describe()

                age  educationyears  hoursperweek      incomeUSD
count  29170.000000    29170.000000  29170.000000   29170.000000
mean      38.655674       10.169455     40.447755   57017.045663
std       13.722408        2.394966     12.417203   44708.023914
min       17.000000        1.000000      1.000000   20002.000000
25%       28.000000        9.000000     40.000000   30084.000000
50%       37.000000       10.000000     40.000000   39883.000000
75%       48.000000       12.000000     45.000000   49811.750000
max       90.000000       16.000000     99.000000  199965.000000

In [5]:
# output mode for all 4 numeric attributes for USA
df[df['nativecountry']=='United-States'].mode(numeric_only=True, dropna=False, axis=0)

   age  educationyears  hoursperweek  incomeUSD
0   36               9            40      42427

In [6]:
# output median for all 4 numeric attributes for USA
df[df['nativecountry']=='United-States'].median(axis=0)

age                  37.0
educationyears       10.0
hoursperweek         40.0
incomeUSD         39883.0
dtype: float64