In [ ]:
# Class IT-533 Week #6  - Classification & Recommendation Systems: kNearest Neighbor; Na√Øve Bayes and Probability
# Summer 2020
# Week #6  Practice Code
# By Wei Geng(David)
# Created on: 06/21/2020

In [ ]:
# Convert to pandas DataFrame
%pip install pandas
%pip install matplotlib
%pip install sklearn
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/intelspeedstep/AMOD533/master/UCI_Credit_Card.csv')
print(df.info(verbose=True))
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB
None

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

### -------------------------------------------Question 1 Set up a k Nearest Neighbor algorithm to determine the default payment variable -----------------------------------------

In [ ]:
# 1) KNN can handle both continuous or binary variables, and question 1 is asking to predict the 'default.payment.next.month' variable, 
# so, we set 'default.payment.next.month' as a binary target variable. This is supervised learning for classification problem.
# 2) Note that Multicolinearity doesnt negatively impact any clustering analysis, such as KNN or Naive Bayes since these algorithms are not linear model. 
# No need to check correlation ahead or drop any variables
# 3) split dataset into training and testing with ratio of 70% to 30%.
# 4) Fit the model with all variables in X, and select n to 4. If n is a small number, the model is less stable, but if n is a big number, it would be more errors.
# so, we need to autotune the model to pick the right value for n, but for now, let's use 4. 
# 5) After running the model, we get model accuracy equal to 77%. This is a pretty good model.
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
X=df.drop(['default.payment.next.month'], axis=1)
y=df['default.payment.next.month']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1859, test_size=0.3)
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("Test set predictions:\n", y_pred)
print("Test set score: {:.2f}".format(knn.score(X_test, y_test)))

Test set predictions:
 [0 0 0 ... 0 0 1]
Test set score: 0.77

### --------------------------------------Question 2 Set up a Naive Bayes algorithm for the same purpose.---------------------------------------------

In [ ]:
# 1) Naive Bayes handles binary and categorical dependent variable well if predictors are independent
# 2) Again, we set 'default.payment.next.month' as a binary target variable, and split data with hold-out methold with 70% to 30%
# 3) There are 3 types of naive bayes models --  Binomial, multimial and Guassian, and we use them based on the following rules,
# In the case of predictors are categorical variables, such as counts or labels, a multinomial distribution can be used. 
# If the variables are binary, such as yes/no or true/false, a binomial distribution can be used. 
# If a variable is numerical, such as a measurement, often a Gaussian distribution is used. 
# 4) I choose to use Gaussian distribution since the predictors are numerical.
# 5) After running the model, we get model accuracy equal to 36% and since we are predicting yes or no, we can switch the lable by (1-0.36)
# so we get 64% accuracy. This is not a good model.
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
X=df.drop(['default.payment.next.month'], axis=1)
y=df['default.payment.next.month']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1859, test_size=0.3)
GNB = GaussianNB()
GNB.fit(X_train,y_train)
y_pred = GNB.predict(X_test)
print("Test set predictions:\n", y_pred)
print("Test set score: {:.2f}".format(1-GNB.score(X_test, y_test)))

Test set predictions:
 [0 1 1 ... 1 1 1]
Test set score: 0.64

### ------------------------------Question 3 Explain how the differences in how these algorithms work influence the results you are getting.----------------------------------------

In [ ]:
# The reason we see Naive Bayes not performing because of following points:
# 1) KNN is very simple algorithm that labels the new points by averaging the closest known datapoints. So, it is very important than to pick the value for n. 
# 2) KNN works not well on large dataset, and prediction accuracy declines as you add more predictors.
# 3) Naive Bayes works well only if predictors are independent. However, you can see that PAY and BILL_AMT variables are highly correlated. 
# Therefore, it is expected that Naive Bayes perform worse, and we should choose KNN for modeling 'default.payment.next.month' from the two algorithms.

### -----------------------------------------END--------------------------------------------------------------